---
prevurl: /Activities/
title: "So what do we do in Insulae Draconis?"
subtitle: "Practical history with something for everyone"
banner: /images/banner/drimnaghcastle.jpg
---

<div class="row py-4">
  <div class="col">

    <h2>How we get together - Events and Day revels</h2>

    <p>Throughout the year there are several weekends or day event (revels) held across all our different groups (shires and colleges) These are where we dress in medieval appropriate attire, gather to engage in medieval appropriate activities and eat, drink and be merry with period feasting and entertainments.  If you are new to the idea we have a
    "<a href="{% link newcomers/what-to-expect.md %}">What to expect at your first event</a>" page.</p>

    <p>Different events might focus on different activities; for example &quot;Thrust, Piva, Riposte!&quot;	is	a	rapier	and	dancing	event	in	Scotland,	held by the Shire of Harpelstance once a year. Flaming Arrow is an archery event held in Ireland by the Shire of Glen Rathlin, also once a year. Many others are more general, offering a little of everything we do (as below) in all our local groups, so you should be able to find something in your area.</p>

  </div>
</div>

<div class="row py-4">
  <div class="col">

    <h3>Archery</h3>

    <img src="/images/archery/fieldshoot3.jpg" class="rounded shadow float-md-end m-2" alt="Archery field shoot" />

    <p>
    With archery we seek to foster the skills developed for entertainment, hunting, and combat as practiced across the medieval period. Archery equipment and techniques varied widely across the area from western Europe, through the middle east to China and Japan, providing a great deal of options for interested archers to explore and reseach.  We use traditional bows and wooden arrows with feather fletchings for target and field shoots.
    </p>

    <p>
    You might also be interested in: 
    </p>

    <ul>
    <li>Bowering - The science of making Bows.</li>
    <li>Fletching - The making of arrows.</li>
    <li>Leatherworking - for making quivers, bags, boots, belts etc.</li>
    </ul>

    <p>
    <a href="{% link activities/archery/index.md %}" class="btn btn-primary">Find out More!</a>
    </p>

  </div>
</div>


<div class="row py-4">
  <div class="col">

    <h3>Armoured Combat </h3>

    <img src="/images/armoured-combat/fightermelee.jpg" class="rounded shadow float-md-end m-2" alt="Melee combat" />

    <p>Each of our groups (shires, colleges and baronies) have members who are intested in all aspects of medieval life, including medieval fighting styles. Not every group will have a weekly practice, but all will cater for activities at occasional day practices, special weekend practices or at events and revels. In the SCA we have
    Armoured Combat, also known as heavy fighting, where participants armour up and fight with rattan swords.</p>

    <p>You might also be interested in:</p>

    <ul><li>Armouring</li>
    <li>Leatherworking for armour, strapping and so on.</li>
    <li>Metalworking and Smithing </li>
    
    </ul>

    <p><a href="{% link activities/armoured-combat/index.md %}" class="btn btn-primary">Find out More!</a></p>

  </div>
</div>
          
<div class="row py-4">
  <div class="col">

    <h3>Arts and Sciences - Art, crafts, engineering, research and manufacture</h3>

    <img src="/images/a-and-s/scroll-melisende.jpg" class="rounded shadow float-md-end m-2" alt="A scroll" />

    <p>The SCA has been described as the largest medieval craft and research self-help group in the world, and that does not fall short of the mark. The ethos of sharing one’s knowledge is very strong. People join with whatever skills they have and quickly find that there is great opportunity to learn and improve, to ask questions, to have impromptu workshops and attend a huge range of classes. Want just a taste of what we do?  </p>

    <ul>
      <li>Bookbinding - Creating books by hand.</li>
      <li>Calligraphy - Writing styles from a wide period.</li>
      <li>Candle Making - Medieval-style candles from wax and tallow.</li>
      <li>Carving - Carving wood, bone, antler and ivory substitute.</li>
      <li>Casting - Casting jewellery, axe heads, candlesticks etc.</li>
      <li>Ceramics & Pottery - Period pottery vessels and art pieces.</li>
      <li>Dyeing - Using period materials and techniques to dye fabric.</li>
      <li>Embroidery & Needlework - Medieval-style embroidered and needlework pieces.</li>
      <li>Gaming - There are hundreds of board and card games to try.</li>
      <li>Illumination - Medieval-style page decoration, often using gold leaf.</li>
      <li>Leatherworking - Making Medieval leather items, bags, boots, belts etc.</li>
      <li>Nalbinding and Knitting - Medieval styles and techniques.</li>
      <li>Metalworking and Smithing - Making cutlery and daggers, forged iron or steel items etc. </li>
      <li>Spinning and Weaving - Making thread and fabric from raw materials.</li>
      <li>Wood Working - Medieval carpentry: benches, techniques, etc. </li>
    </ul>

    <a href="{% link activities/a-and-s/index.md %}" class="btn btn-primary">Find out More!</a>

  </div>
</div>
          
<div class="row py-4">
  <div class="col">
    <h3>Children and Youth</h3>

    <img src="/images/a-and-s/family.jpg" class="rounded shadow float-md-end m-2" alt="A younger member" />

    <p>
      We have generations that have grown up in the Society, so we can assure you that our events are family friendly.   We have Youth officers in most of our groups and we have active youth members all over the Isles.  It is easy for young members to get involved from the minute they start, especially in the Arts and Sciences and archery  There are children's tournaments at events like Raglan Fair each year.  It's a fantastic way to learn about history in a real and practical sense.  We as a Society play a lot of games, indoor and outdoor, and kids are enthusiastic participants.  
    </p>

    <a href="{% link activities/family-and-kids.md %}" class="btn btn-primary">Find out More!</a>

  </div>
</div>
          
<div class="row py-4">
  <div class="col">

    <h3>Cooking and Feasting</h3>
    <img src="/images/a-and-s/drimnagh_lunch.jpg" class="rounded shadow float-md-end m-2" alt="Lunch at an event" />

    <p>
      One of the truly distinctive elements of very event in Insulae Draconis is the food.  Our members lovingly research and recreate dishes from all over the medieval world and this forms the backbone of every event as you enjoy breakfast, lunch and feast.  If you've ever wondered what spit roast venison is like, odds are you'll find out at one of our events.  Some people freely admit they wandered by for a look and were convinced to stay on the strength of their first feast.  
    </p>

    <p>
      And of course what is food without drink? Ever wondered just what mead is like? What would you like to try, straight mead, a fruit infused melomel or spice infused metaglin?  
    </p>

    <p>
      You might also be interested in:
    </p>

    <ul>
    <li>Brewing - Making beer, meads, wines and cordials.</li>
    <li>Pickling and preserving</li>
    <li>Sugarcraft and food presentation</li>
    </ul>

    <a href="{% link activities/a-and-s/cooking-and-feasting.md %}" class="btn btn-primary">Find out More!</a>
    
  </div>
</div>
          
<div class="row py-4">
  <div class="col">

    <h3>Dancing, singing, acting, puppetry, recitation, jugging and other performing arts </h3>

    <img src="/images/a-and-s/dancing.jpg" class="rounded shadow float-md-end m-2" alt="Medieval dance" />

    <p>
      We are fortunate to have many talented musicians and singers, storytellers, poets and actors who will entertain us at our events. We have choral perfomances at formal occasions, we sing drinking songs full of life and good cheer after great feasts, instrumental music wafts through the evening air at campsites. Stories are told at the fireside, plays are performed under the open sky at Raglan fair, dancers wheel and step in Great halls. We have magicians and jugglers and puppeteers - all manner of performing arts from the Middle Ages can be found in the Society.
    </p>

    <a href="AandS/bardicanddancing.html" class="btn btn-primary">Find out More!</a>

  </div>
</div>
          
<div class="row py-4">
  <div class="col">
    <h3>Heraldry</h3>

    <img src="/images/a-and-s/bannersflying.jpg" class="rounded shadow float-md-end m-2" alt="Heraldic banners" />
    <p>
      Whether you enjoy being front and center at Court as the voice of their Highnesses,  or you prefer a quieter vantage, working with names and Arms, banners and flags, there is no doubt every event is brought to life by the work of all the heralds.  Heralds will help you with Court, Tournament lists and how to choose the perfect name for your persona and the Coat of Arms to represent you, your household or your branch.   Heralds can also advise you about ceremony, titles and court etiquette (They're also great people to ask for help with voice projection and thinking on your feet in front of crowds!)
    </p>

    <a href="{% link activities/heraldry/index.md %}" class="btn btn-primary">Find out More!</a>

  </div>
</div>
          
<div class="row py-4">
  <div class="col">
    <h3>Medieval Fencing</h3>

    <img src="/images/rapier/fencersfromabove.jpg" class="rounded shadow float-md-end m-2" alt="Fencers" />

    <p>
      Fencing is the perfect way to study, replicate and compete with styles of light, heavy and cut-and-thrust weapon sword-fighting found in Europe during the Renaissance period.  This is not fencing in the Olympic style, this is based on ever expanding avenues of research with actual historical manuals.  It is an exciting, fast sport with plenty of style - fighter fight in period clothes - where fighters use blunted steel swords and a variety of off-hand defensive items.  Want to find out just how historically correct your favourite fight scene from a movie is? We have people who can tell you, and recommend texts to recreate your favourite fight more authentically!  
    </p>

    <a href="https://insulaedraconis.org/activities/rapier/" class="btn btn-primary">Find out More!</a>

  </div>
</div>
          
<div class="row py-4">
  <div class="col">
    <h3>Recreating medieval fashion</h3>

    <img src="/images/a-and-s/drimnaghEtienne.jpg" class="rounded shadow float-md-end m-2" alt="Sartorial excellence" />

    <p>
      The pull of beautiful clothes has always been felt thoughout history, and as a Society we explore a wide variety of fabrics, styles and cultural influences.   Whether your tastes run towards the simple and comfortable or the elaborate and richly ornate, we have talented people we would like you to meet and classes to attend to help you find your perfect medieval attire. 
    </p> 

    <a href="{% link activities/a-and-s/garbmaking.md %}" class="btn btn-primary">Find out More!</a>

  </div>
</div>
