---
title: Insulae Draconis
subtitle: Learn history by living it
---

<div class="container text-center">
  <p>
    Ever wonder what it was like to fight in armour? To shoot a bow from a castle window?
    To learn how to make clothes right from preparing the wool to final embroidery or
    illuminate text on parchment? If you've even a passing interest in medieval arts & crafts,
    medieval cookery & brewing, heraldry & arms, fencing or just historical research, we do all
    of this, and so much more in the Society for Creative Anachronism!
  </p>
</div>

<br />

<div class="card-group shadow">
  <div class="card">
    <img src="/images/splash/new.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">New to Insulae Draconis?</h5>
      <p class="card-text">Welcome to these Current Middle Ages.</p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link newcomers/index.md %}">Learn more</a>
      </p>
    </div>
  </div>

  <div class="card">
    <img src="/images/splash/activities.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Activities</h5>
      <p class="card-text">Practical history with something for everyone.</p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link activities/index.html %}">Learn more</a>
      </p>
    </div>
  </div>

  <div class="card">
    <img src="/images/splash/contact.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Contacts</h5>
      <p class="card-text">Groups across the UK, Ireland and Iceland.</p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link library/useful-resources/findingalocalgroup.md %}">Learn more</a>
      </p>
    </div>
  </div>
</div>

<br />

<div class="container text-center">
  <div class="row">
    <div class="col-0 col-md-1 col-lg-2">&nbsp;</div>
    <div class="col-12 col-md-10 col-lg-8">
      <h3>Become a member</h3>
      <p>
        Joining is entirely optional - you are welcome to all our events and practices regardless
        of whether you’re a member. Members get discounts at certain practices and events,
        and help support our activities throughout Ireland and the UK.
      </p>
      <p>
        <a role="button" class="btn btn-primary" href="https://membermojo.co.uk/scauk">Get or renew your membership</a>
      </p>
    </div>
    <div class="col-0 col-md-1 col-lg-2">&nbsp;</div>
  </div>
</div>

<br />

<div class="card-group text-center shadow">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Contact an officer</h3>
      <p class="card-text">
        To find out more about any of our activities, ask how to reach
        a nearby group, or just introduce yourself.
      </p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link governance/find-an-officer.html %}">Find an Officer</a>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Conduct and behaviour</h3>
      <p class="card-text">
        You are welcome in Insulae Draconis. We use the same
        code of conduct as our parent organisation.
      </p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="https://www.sca.org/conduct-behavior-in-the-sca/">Read more on sca.org</a>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">The Baelfyr</h3>
      <p class="card-text">
        The Baelfyr is a monthly newsletter delivered by email. It contains news and events for the month,
        useful articles and
        messages from the Prince and Princess or various officers. 
      </p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link baelfyr/index.md %}">Subscribe</a>
      </p>
    </div>
  </div>
</div>

<br />

<div class="container text-center">
  <div class="row">
    <div class="col-0 col-md-1 col-lg-2">&nbsp;</div>
    <div class="col-12 col-md-10 col-lg-8">
      <h3>Meet the Prince and Princess</h3>
      <img src="{% link coronet/images/Ranulf-Euphrosyne.jpg %}" style="max-width: 300px; height: auto;" class="rounded my-3 shadow" />
      <p>
        Prince Ranulf Li Norreis & Princess Euphrosyne Eirinikina
      </p>
      <p>
        <a role="button" class="btn btn-primary" href="{% link coronet/index.md %}">About the Prince and Princess</a>
      </p>
    </div>
    <div class="col-0 col-md-1 col-lg-2">&nbsp;</div>
  </div>
</div>

<br />

<div class="card-group shadow">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Running a group and its events</h5>
      <p class="card-text">
        How to start a College, Hamlet or Shire, bidding for and running events,
        resources for groups, howto guides for new officers.
      </p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link library/group-resources/index.md %}">Learn more</a>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Recommend someone for an award</h5>
      <p class="card-text">
        The Prince and Princess need your help to recognise the skills, talents and efforts of their people.
        Make an award recommendation for all you believe should be recognised in Insulae Draconis for their contributions.
      </p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link coronet/recommend.html %}">Learn more</a>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Library</h5>
      <p class="card-text">
        Download howtos, find out about the history of Insulae Draconis,
        find forms, rules, and useful links.
      </p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link library/index.md %}">Learn more</a>
      </p>
    </div>
  </div>
</div>
