<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
    <meta property="og:image" content="{{ site.url }}{{ page.banner | default: '/images/banner/default-banner.jpg' }}" />
    <meta property="og:title"              content="{{ page.title }}" />
    <meta property="og:description"        content="{{ page.subtitle }}" />

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    {% if jekyll.environment == "production" %}

      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53836415-1"></script>

      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-53836415-1', { 'anonymize_ip': true });
      </script>

    {% else %}

    <meta name="robots" content="noindex">

    {% endif %}
    
		<meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/assets/css/main.css" rel="stylesheet" />
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	</head>
	<body class="bg-light">

    <header id="header">

      {% unless jekyll.environment == "production" %}

        <div class="bg-warning">
          <div class="container text-center">
            <i class="fas fa-exclamation-triangle"></i>
            This is a development website.
            <a href="{{ site.url }}">Visit the main website.</a>
          </div>
        </div>

      {% endunless %}

      <nav id="topmenu" class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="container">

          <a class="navbar-brand" style="color: #ffff00;" href="/">
            <img src="/images/heraldry.svg" width="50" /> Insulae Draconis
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top-banner-menu" aria-controls="top-banner-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="top-banner-menu">

            {% if site.data.nav.top[0] %}
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for item in site.data.nav.top %}
                    
                  {% if item.submenu[0] %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle {% if item.url == page.url %}active{% endif %}"  style="color: #ffff00;" id="navbar-dropdown-{{item.title}}" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="{{ item.url }}">{{ item.title }}</a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown-{{item.title}}">
                        {% for subitem in item.submenu %}
                          {% if subitem.subsubmenu[0] %}
                          <li>
                            <a class="fw-bold text-muted dropdown-item {% if subitem.url == page.url %}active{% endif %}" href="{{ subitem.url }}">{{ subitem.page }}</a>
                          </li>
                            {% for subsubitem in subitem.subsubmenu %}
                              <li>
                                <a  class="dropdown-item {% if subsubitem.url == page.url %}active{% endif %}"  href="{{ subsubitem.url }}">{{ subsubitem.page }}</a>
                              </li>
                            {% endfor %}
                            <li><hr class="dropdown-divider" />

                          {% else %}
                            <li>
                              <a class="dropdown-item {% if subitem.url == page.url %}active{% endif %}" href="{{ subitem.url }}">{{ subitem.page }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            {% endif %}

          </div>


        </div>

      </nav>

    </header>

    <div class="banner" style="background-image: url('{{ page.banner | default: '/images/banner/default-banner.jpg' }}');">
      <div class="container">
        <h1 class="display-5 pt-5">{{ page.title }}</h1>
        {% if page.subtitle %}
          <h3>{{ page.subtitle }}</h3>
        {% endif %}
        <h1 class="pb-1">&nbsp;</h1>
      </div>
    </div>

		<!-- Page Wrapper -->
			<div id="page-wrapper">
        <br />
